@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bright-blue: #43bbff;
  --mid-blue: #037bd7;
}

html {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 16px;
  color: #222;
  font-family: Roboto, sans-serif;
  background-color: #fefefe;
  height: 100%;
  height: 100vh;
}

header {
  margin: 0;
  min-height: 133px;
  background-color: #222;
}

header div {
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
}

header h1 {
  font-family: Roboto Slab, sans-serif;
  color: #fff;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

header div,
main {
  max-width: 42em;
}

main {
  margin: 0 auto;
  padding: 0.75em 0.75em;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto Slab, sans-serif;
  font-weight: 400;
}

h2,
h3,
h4 {
  color: var(--mid-blue);
  margin: 0.5em 0;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

a,
a:active,
a:visited {
  color: var(--mid-blue);
  text-decoration: none;
  border-bottom: 2px dotted var(--mid-blue);
}

a:hover {
  border-bottom: 2px solid var(--mid-blue);
}

a.home-link {
  font-family: Roboto Slab, sans-serif;
  display: inline-block;
  color: var(--bright-blue);
  font-size: 1.5em;
  border-bottom-width: 0;
  text-decoration: none;
  margin: 0.5em 0;
}

a.home-link::before {
  background: url("./images/home-32x32.png") NO-REPEAT;
  background-position: 0 2px;
  content: url("./images/transparent-pixel-21x21.png");
  width: 32px;
  height: 32px;
  padding-left: 20px;
}

a.home-link:hover {
  color: #ffffff;
}

ul {
  padding-left: 1em;
  margin-left: 0.5em;
}

li {
  margin-bottom: 0.5em;
}

em {
  font-style: italic;
  color: #000;
}

figure {
  margin-left: 0;
}

figure img {
  border: 1px solid #999999;
  box-shadow: 2px 2px 4px #999;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
}

.centre-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 100%;
  height: 0;
  border-top: 1px dotted var(--bright-blue);
  margin: 2.5em 0 2em 0;
}

@media screen and (min-width: 360px) {
  body {
    font-size: 1.15em;
  }
}

@media screen and (min-width: 480px) {
  body {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1024px) {
  header {
    background-image: url(./images/logo-133x133.png);
    /* background-image: url(./images/logo-256x256.png); */
    background-repeat: no-repeat;
    background-size: contain;
  }

  main {
    padding: 1em 2em;
  }
}
