@import url("https://fonts.googleapis.com/css?family=Roboto");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-blue: rgb(3, 88, 155);
}

html {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 16px;
  color: #222;
  font-family: Roboto, arial, sans-serif;
  background-color: #fefefe;
  height: 100%;
  height: 100vh;
}

header {
  margin: 0;
  min-height: 133px;
  background-color: #222;
}

header div {
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
}

header h1 {
  color: #fff;
  font-size: 2em;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

header div,
main {
  max-width: 42em;
}

main {
  margin: 0 auto;
  padding: 0.75em 0.75em;
  line-height: 1.6;
}

h2 {
  font-weight: 400;
  color: var(--dark-blue);
  font-size: 1.75em;
  margin: 0.25em 0;
  line-height: 1.4;
}

a,
a:active,
a:visited {
  color: var--dark-blue);
  border-bottom: 2px dotted var(--dark-blue);
  padding: 0 0.2em;
  text-decoration: none;
}

a:hover {
  background-color: var(--dark-blue);
  color: #fefefe;
  border-radius: 0.2em;
}

.home-link {
  display: inline-block;
  color: #43bbff;
  font-size: 1.65em;
  border-bottom-width: 0;
  margin: 0.5em 0;
}

.home-link::before {
  background: url("./images/home-32x32.png") LEFT TOP NO-REPEAT;
  content: url("./images/transparent-pixel-21x21.png");
  width: 32px;
  height: 32px;
  padding-left: 20px;
}

ul {
  padding-left: 1em;
}

li {
  margin-bottom: 0.5em;
}

em {
  font-style: italic;
  color: #000;
}

figure {
  margin-left: 0;
}

figure img {
  border: 1px solid #999999;
  box-shadow: 2px 2px 4px #999;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
}

@media screen and (min-width: 360px) {
  body {
    font-size: 1.15em;
  }
}

@media screen and (min-width: 480px) {
  body {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1024px) {
  header {
    background-image: url(./images/logo-256x256.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  main {
    padding: 1em 2em;
  }
}
